body {
	width: 100%;
    height: 100%;
    /*font-family: 'Cinzel', serif;*/
    font-family: 'Poppins', 'Verdana', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
}

#navbar {
	background-color: #f8f8f8;
	font-size: 15px;
	color: #2c6009;
}

h1 {
	font-size: 55px;
	font-weight: bold;
}
h2 {
	margin-bottom: 25px; 
	font-size: 36px;
	text-align: center;
	font-weight: bold;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}
h5 {
	font-size: 16px;
	color: white;
	text-align: center;
}
p{
	font-size: 16px;
	color: black;
	text-align: center;
}
li {
	font-size: 16px;
	text-align: center;
}
#submit {
	color: black;
}

.display1{
	background: url(https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?dpr=1&auto=compress,format&fit=crop&w=1055&h=&q=80&cs=tinysrgb&crop=);
	background-size: cover;
    background-position: center; 
    height: 100%;
    padding-top: 200px;
}
.content{
	padding-top: 20%;
	margin-bottom: 20%;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.display2 {
	background-color: white;
	background-size: cover;
    background-position: center; 
    height: 100%;
    padding-bottom: 80px;
    padding-top: 20px;
    color: black;
}

.content2 {
	padding-top: 5%;
	/*margin-bottom: 15%;*/
	/*text-align: center;*/
} 
#serviceColumns{
	padding: 30px;
}
.col-sm-3{
	background-color: white:
	border: 1px solid;
}
#residential {
	height: 225px;
	width: 240px;
	margin-top: 15px;
	margin-bottom: 5px;
	box-shadow: 3px 3px #888888;
}
#commercial {
	height: 225px;
	width: 240px;
	margin-top: 15px;
	margin-bottom: 5px;
    box-shadow: 3px 3px #888888;
}
#snowRemoval {
	height: 225px;
	width: 240px;
	margin-top: 15px;
	margin-bottom: 5px;
	box-shadow: 3px 3px #888888;
}
#other {
	height: 225px;
	width: 240px;
	margin-top: 15px;
	margin-bottom: 5px;
	box-shadow: 3px 3px #888888;
}
.display3 {
	background-color: #d9d9d9; 
	background-size: cover;
    background-position: center; 
    height: 100%;
    padding-top: 40px;
    padding-bottom: 80px;
    color: white;
}

.content3 {
	padding-top: 4%;
	margin-bottom: 5%;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
} 

.carousel {
    position: relative;
    width: 75%;
    margin: 0 auto;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
}
#leftbtn {
	border: none;
	text-shadow: none;
	/*color: #d0d6e0;*/
	background-image: none;
}
#rightbtn {
	border: none;
	text-shadow: none;
	/*color: #d0d6e0;*/
	background-image: none;
}
.glyphicon{
	color: #6b7077;
}
.glyphicon:hover{
	color: white;	
}
.display4 {
	background: url(https://images.unsplash.com/photo-1503355538147-f17290cbfaec?dpr=1&auto=compress,format&fit=crop&w=1050&h=&q=80&cs=tinysrgb&crop=);
	background-size: cover;
    background-position: center; 
    height: 100%;
    color: white;
    padding-bottom: 10px;
}

.content4 {
	padding-top: 25%;
	vertical-align: text-top; 
} 
#contactUs {
	margin-bottom: 150px;
}

#contact {
	text-align: center;
}


